.menuBg {
  position: fixed;
  width: 100%;
  height: 52px;
  z-index: 3001;
}

.mask {
  width: 100%;
  height: 52px;
  background-color: #fff9;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.maskBlur {
  width: 100%;
  height: 52px;
  background-color: rgba(255, 255, 255, 0.9);
}

.scroll52 {
  filter: none;
  -webkit-filter: none;
  background-color: #fff;
}

.menuBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-width: 1px;
  border-color: #0f172a1a;
}

.menuItem {
  padding: 0 12px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}

.active {
  color: #fff;
  background-color: #000;
  border-radius: 15px;
}
