.main_box {
  background-color: #fff;
  background: fixed;
  background-image: url("../../public/image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ant-card-body {
  padding: 0;
}
